.centered {
    align-content: center;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    margin: 0 auto;
    position: relative;
}

.alert {
    padding: 20px;
    background-color: red; 
    color: white;
    margin-bottom: 15px;
  }

#box{
    background-color:rgb(187, 163, 235); 
    width:40%; 
    height:50%; 
    margin-top: 100px;
    margin-left: 30%; 
    margin-right:30%;
    border-radius: 25px;
}


li {
    padding: 50px;
    color: black;
    margin: 10px;
}
