{% extends "base.html" %}

{% block head %}
<title> Home </title>
<script type="text/javascript">

  function addToCart(productID, size, toppings){
    var selTop = "";
    if (toppings>0)
    {
      $('#prodId').val(productID);
      $('#size').val(size);
      $('#tpCount').val(toppings);
      document.getElementById('tinfo').innerHTML = "You can choose up to "  +toppings + " toppings."
      $('#myModal').modal('show');
      return true;
    }
    if (toppings == -1){
      selTop = $('#topping').val();
      $('#topping').val("");
    }

    var jqXHR = $.ajax({
        type: "POST",
        url: "/addCart",
        async: false,
        data:{'product_id': productID, 'size':size, 'toppings': selTop, 'csrfmiddlewaretoken': '{{csrf_token}}'}, 
        success: function(result){
          if(selTop == "") {
            $('#mycart').append('<tr><td>' + result.name+ '</td><td>' +result.size + '</td><td>' +'$'+result.price + '</td> <td> <button class = "btn btn-dark" onclick = "deleteItem('+result.id+ ', this)" > <span class="glyphicon glyphicon-trash"></span> </button> </td> </tr>');
            document.getElementById("total").innerHTML = "Total: $" + result.total;    
          }
          else{
          $('#mycart').append('<tr><td>' + result.name+'<br>('+selTop+ ')</td><td>' +result.size + '</td><td>' +'$'+result.price + '</td> <td> <button class = "btn btn-dark" onclick = "deleteItem('+result.id+ ', this)" > <span class="glyphicon glyphicon-trash"></span> </button> </td> </tr>');
          document.getElementById("total").innerHTML = "Total: $" + result.total; 
          }
          show();
        },
        error: function(result){
          alert(result.responseJSON.message);
        }

    });
}

function deleteItem(id, row){
  
  var jqXHR = $.ajax({
      type: "POST",
      url: "/deleteItem",
      async: false,
      data:{'id' : id, 'csrfmiddlewaretoken': '{{csrf_token}}'}, 
      success: function(result){
        alert(result.message)
        $(row).closest("tr").remove();
        document.getElementById("total").innerHTML = "Total: $" + result.total;  
        if(result.total == 0.00){
          hide();
        }
      },
      error: function(result){
        alert(result.responseJSON.message);
      }

  });
}

function show() {
      document.getElementById('confirmOrderbtn').style.display='block';      
}


function hide() {
    document.getElementById('confirmOrderbtn').style.display='none';
  }  

function resetToppings() {
  $('input:checkbox').each(function() { this.checked = false; });
  document.getElementById('modalMessage').className = "hide";
}


function addToppings() {
    var toppings = "";
    $. each($("input[name='top']:checked"), function(){
    toppings = toppings +", " + $(this). val();
  })
  toppings = toppings.substring(1);

  var count= countToppings();
  var limitTop = $('#tpCount').val();
  var x = parseInt(limitTop, 10);
 
  if(count > x)
  { 
    document.getElementById('modalMessage').innerHTML = "Oh no! You exceeded "+ limitTop + " toppings!";
    let divElement = document.querySelector("modalMessage");
    document.getElementById('modalMessage').className = "alert alert-danger";
    return false;
  }
  var productID =  $('#prodId').val();
  var size = $('#size').val();
  $('#topping').val(toppings);
  addToCart(productID, size, -1);
  document.getElementById('modalMessage').className = "hide";
  resetToppings()
  $('#myModal').modal('hide');
}  

function countToppings() {
var count = 0;
count = $('input[type="checkbox"]:checked').length;
return count;
}
 
function clearCart() {
  answer = confirm("Are you sure you want to clear your cart?");
  if (answer){ 
    var jqXHR = $.ajax({
      type: "POST",
      url: "/clearCart",
      async: false,
      data:{'csrfmiddlewaretoken': '{{csrf_token}}'}, 
      success: function(result){
        $( "#mycart tbody tr" ).each( function(){
          this.parentNode.removeChild( this ); 
        });
        $('#mycart').append('<tr> <th scope ="col"> Product Name </th> <th scope ="col"> Size </th> <th scope ="col"> Price </th><th> </th></tr>');
        document.getElementById("total").innerHTML = "Total: $" + 0.00;  
        hide();
      },
      error: function(result){
        alert(result.responseJSON.message);
      }

  })
}
}

</script>
{% endblock %}


{%block body %}
<nav class="navbar fixed-nav-bar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Pinocchio's Pizza and Subs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#rp">Regular Pizza</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sp">Sicilian Pizza</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#top">Subs</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="#pasta">Pastas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#salad">Salads</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#dp">Dinner Platters</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/orderhistory"> Order History </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link"> Hi {{user}}</a>
          </li>
        <form action="/cart"  method = "POST">
        <button style ="padding:10px; padding-top: 30px; color: grey;" class="btn btn-outline-success centered" type="submit">
          {% csrf_token %}
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
          </svg>
          My Cart
        </button>
        </form>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
       </li>
       </ul>
    </div>
  </nav>
  <div id= "rp">

  </div>
<div class="container-fluid">
<div style ="padding-top: 50px;"  class="row" >
  <div class ="col-sm-8" style="background-color:rgb(224, 166, 166); height: auto;">
    <div class="container">
      <h2 style= "font-weight:bolder;">
        <div class= "row"> 
        <div class ="col-sm-4"> Regular Pizza </div>
        <div class ="col-sm-4"> Small </div>
        <div class ="col-sm-4"> Large </div>
        </div>
      </h2>
    
    
    {% for product in regular_pizza %}
   
    <h3>
      <div class= "row"> 
      <div class ="col-sm-4"> {{product.name}} </div>

      <div class ="col-sm-4"> ${{product.SPrice}} 
          
        <button onclick ="addToCart({{product.id}}, 'small', {{product.toppings}})" class="btn btn-dark"><span class="glyphicon glyphicon-plus"></span></button>
      </div>
      
      <div class ="col-sm-4"> ${{product.LPrice}} 
        <button onclick ="addToCart({{product.id}}, 'large', {{product.toppings}})" class="btn btn-dark"><span class="glyphicon glyphicon-plus"></span></button>
      </div>

      </div>
    </h3>
    {%endfor%}

    
      <div class="container">
  
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">  
              <img src = "/static/cheese.jpg" alt ="cheese"> 
            </div>
          </div>

          <div class="col-md-4">
            <div class="thumbnail" id = "sp">
             
              <img src = "/static/pepperoni.jpg" alt ="pep" > 
      
            </div>
          </div>
          
        </div>
      </div>
      
    

    <hr class="solid">
    <h2 style= "font-weight:bolder;">
      <div class= "row"> 
      <div class ="col-sm-4"> Sicilian Pizza </div>
      <div class ="col-sm-4"> Small </div>
      <div class ="col-sm-4"> Large </div>
      </div>
    </h2>
  
  
  {% for product in s_pizza %}
 
  <h3>
    <div class= "row"> 
    <div class ="col-sm-4"> {{product.name}} </div>

    <div class ="col-sm-4"> ${{product.SPrice}}      
      <button onclick ="addToCart({{product.id}}, 'small', {{product.toppings}})" class="btn btn-dark"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
    
    <div class ="col-sm-4"> ${{product.LPrice}} 
      <button onclick ="addToCart({{product.id}}, 'large', {{product.toppings}})" class="btn btn-dark"><span class="glyphicon glyphicon-plus"></span></button>
    </div>

    </div>
  </h3>
  {%endfor%}
<div class = "container">
  <div class="row">
    <div class="col-md-4">
      <div class= "thumbnail" id ="top">  
        <img src = "/static/sicilian.jpg" alt ="sicilian"> 
      </div> 
    </div>
  </div>
</div>

<!-- Modal -->
<div id = "myModal" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle">Select Your Toppings</h2>
        
        <button onclick = "resetToppings()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4 id="tinfo"> </h4>
        <br>
          <h5 id ="modalMessage"> </h5>
          <input type="text" id = "prodId" class ="hide"> 
          <input type="text" id = "size" class ="hide"> 
          <input type="text" id = "topping" class ="hide">
          <input type="text" id = "tpCount" class ="hide">
              {%for tp in toppings%}
              <div class ="column">
                <input onclick = "countToppings()" type="checkbox" id="{{tp}}" name="top" value="{{tp}}">
                <label for="{{tp}}"> {{tp}} </label>
              </div>
              {%endfor%}
          
      </div>
      <div class="modal-footer">
        <button type="button" onclick = "resetToppings()" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" onclick= "addToppings()"  class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


  <hr class="solid">

  <h2 style= "font-weight:bolder;">
    <div class= "row"> 
    <div class ="col-sm-4"> Subs </div>
    <div class ="col-sm-4"> Small </div>
    <div class ="col-sm-4"> Large </div>
    </div>
  </h2>


{% for product in subs %}

<h3>
  <div class= "row"> 
  <div class ="col-sm-4"> {{product.name}} </div>

  <div class ="col-sm-4"> ${{product.SPrice}}      
    <button onclick ="addToCart({{product.id}}, 'small', {{product.toppings}})" class="btn btn-dark"><span class="glyphicon glyphicon-plus"></span></button>
  </div>
  
  <div class ="col-sm-4"> ${{product.LPrice}} 
    <button onclick ="addToCart({{product.id}}, 'large', {{product.toppings}})" class="btn btn-dark"><span class="glyphicon glyphicon-plus"></span></button>
  </div>

  </div>
</h3>
{%endfor%}

<div class = "container">
  <div class="row">
    <div class="col-md-4">
      <div class= "thumbnail" id ="pasta">  
        <img src = "/static/sub2.jpg" alt ="subs"> 
      </div> 
    </div>
  </div>
</div>

    <hr class="solid">
    <h2 style= "font-weight:bolder;">
      <div class= "row"> 
      <div class ="col-sm-4"> Pasta </div>
      <div class ="col-sm-4">  </div>
      <div class ="col-sm-4">  </div>
      </div>
    </h2>
  
  
  {% for product in pasta %}
 
  <h3>
    <div class= "row"> 
    <div class ="col-sm-4"> {{product.name}} </div>

    <div class ="col-sm-4">
    </div>
    
    <div class ="col-sm-4"> ${{product.SPrice}} 
      <button onclick ="addToCart({{product.id}}, 'small', {{product.toppings}})" class="btn btn-dark"><span class="glyphicon glyphicon-plus"></span></button>
    </div>

    </div>
  </h3>
  {%endfor%}

  <div class = "container">
    <div class="row">
      <div class="col-md-4">
        <div class= "thumbnail"  id = "salad">  
          <img src = "/static/pasta.jpg" alt ="pasta"> 
        </div> 
      </div>
    </div>
  </div>

  
  <hr class="solid">
  <h2 style= "font-weight:bolder;">
    <div class= "row"> 
    <div class ="col-sm-4"> Salad </div>
    <div class ="col-sm-4">  </div>
    <div class ="col-sm-4">  </div>
    </div>
  </h2>


{% for product in salad %}

<h3>
  <div class= "row"> 
  <div class ="col-sm-4"> {{product.name}} </div>

  <div class ="col-sm-4">   
  
  </div>
  
  <div class ="col-sm-4"> ${{product.SPrice}} 
    <button onclick ="addToCart({{product.id}}, 'small', {{product.toppings}})" class="btn btn-dark"><span class="glyphicon glyphicon-plus"></span></button>
  </div>

  </div>
</h3>
{%endfor%}

<div class = "container">
  <div class="row">
    <div class="col-md-4">
      <div class= "thumbnail" id = "dp">  
        <img src = "/static/salad.jpg" alt ="salad"> 
      </div> 
    </div>
  </div>
</div>


<hr class="solid">
<h2 style= "font-weight:bolder;">
  <div class= "row"> 
  <div class ="col-sm-4"> Dinner Platters  </div>
  <div class ="col-sm-4"> Small </div>
  <div class ="col-sm-4"> Large </div>
  </div>
</h2>


{% for product in dinner %}

<h3>
<div class= "row"> 
<div class ="col-sm-4"> {{product.name}} </div>

<div class ="col-sm-4"> ${{product.SPrice}}      
  <button onclick ="addToCart({{product.id}}, 'small', {{product.toppings}})" class="btn btn-dark"> <span class="glyphicon glyphicon-plus"></span></button>
</div>

<div class ="col-sm-4"> ${{product.LPrice}} 
  <button onclick ="addToCart({{product.id}}, 'large', {{product.toppings}})" class="btn btn-dark"><span class="glyphicon glyphicon-plus"></span></button>
</div>

</div>
</h3>
{%endfor%}

<div class = "container">
  <div class="row">
    <div class="col-md-4">
      <div class= "thumbnail">  
        <img src = "/static/platter.jpg" alt ="platter"> 
      </div> 
    </div>
  </div>
</div>



    </div>
  </div>
<div class ="col-sm-4" style="background-color: rgb(250, 250, 226); height: auto">
        <h1>Shopping Cart</h1>
        <div>
          <table class ="table table-dark" id="mycart" >
            <tbody>
            <tr>
            <th scope ="col">
              Product Name 
            </th>
            <th scope ="col">
              Size
            </th>
            <th scope ="col">
              Price
            </th>
            <th> 

            </th>
            </tr>
  
            {% for item in items %}
            <tr>
              <td>
                {{item.productName}}
                {% if item.toppings != "" %}
                <br>
                 ({{item.toppings}})
                {%endif%}
              </td>
            
              <td>
                {{item.size}}
              </td>
              <td>
                ${{item.price}}
              </td>
              <td>
                <button class = "btn btn-dark" onclick ="deleteItem({{item.id}}, this)" > <span class="glyphicon glyphicon-trash"></span> </button> 
              </td>
            </tr>
            
            {% empty %}
            {%endfor%}
            </tbody>
          </table> 


          <hr> 
          <h3 scope="row" style ="float:right" id = "total"> Total: {{total}}</h3>

          {% if total > 0.00 %}
          <div id = "confirmOrderbtn" style = "display: block;">
          {%else%}
          <div id = "confirmOrderbtn" style = "display: none;">
          {%endif%}
          <button class = "btn btn-success"> <a href="/placeOrder" style="color:white"> Confirm Your Order</a></button>  
          <button class = "btn btn-success" onclick = "clearCart()"> Clear Cart </button>  
         </div> 

        </div>
</div>
</div>


{% endblock %}