{% extends 'base2.html'%}

{% block head %}
<title> Login </title>   
{% endblock%}

{% block body%}
<div id="bkg">
<div id ="box" class="container">
    <div>
        <h1 style = "color:red"> Welcome to Pinnochio’s Pizza and Subs  </h1>
        <!-- <img class = "rounded" src ="/static/pizza.jpg" alt ="pizza" height="200px" width="300px"> -->
        <br>
        <div class="title form-group">
            <form action="/login" method="POST">
                {% csrf_token %}
                <label style = "color:white"> Username: </label> <br>
                <input id ="input" class ="form-control" type="text" name="username" required><br>
                <label  style = "color:white"> Password: </label> <br>
                <input id ="input" class ="form-control" type="password" name="password" required><br>
                <input class="btn btn-danger" type ="submit" name="Submit" value ="Submit"> <br>
                {% if message %}
                <br>
                <div class="alert alert-danger">
                    {{message}}
                </div>
                {% endif %}
            </form>
        </div>  
        <br>
        <a href= "signup"><b> Don't have an account? Click here to sign up. </b> </a>
    </div>
</div>
</div>
{% endblock %}