{% extends 'base2.html' %}


{% block head %}

{%endblock%}


{% block body %}
<div id ="box" class="container">
<div class="container">
<div class="title form-group">
<h1 style = "color:red"> Register Here: </h1>
<form action="/signup" method="POST">
    {% csrf_token %}
    <label style ="color:white"> Email: </label> <br>
    <input id ="input" class ="form-control" type="text" name="email" required><br>
    <label style ="color:white"> Full Name: </label> <br>
    <input id ="input" class ="form-control" type="text" name="name" required><br>
    <label style = "color:white"> Username: </label> <br>
    <input id ="input" class ="form-control" type="text" name="username" required><br>
    <label style = "color:white"> Password: </label> <br>
    <input id ="input" class ="form-control" type="text" name="password" required><br>
    <label style = "color:white">Confirm Password: </label> <br>
    <input id ="input" class ="form-control" type="text" name="password2" required><br>
    <input class="btn btn-danger" type ="submit" name="Enter" value ="Submit"> <br>
</form>
<br>
<a href="login"><b> Already have an account? Login! </b> </a>
</div>
</div>
</div>
{%endblock%}